{% extends 'base_logged_out.html' %}
{% block content %}
<div class="container" style="padding: 30px;">
    <div class="jumbotron" style="text-align: center; padding: 15px;">
        <h1 class="display-1">Easy. Fast. Reliable.</h1>
    </div>
    <div class="jumbotron" style="text-align: center; padding: 15px;">
        <h1 class="display-4"><strong>Meal Recommendations catered to you.</strong></h1>
    </div>
</div>

<div class="container">
    <div class="jumbotron" style="text-align: center; padding: 30px;">
        <h1 class="display-5">What is ePlate?</h1>
    </div>
</div>

<div class="container" style="padding: 30px;">
    <div class="container">
  <div class="row">
    <div class="col-sm" style="text-align: center;">
        <h2>Intuitive</h2>
        Utilizes state of the art machine learning algorithms to create smart meal plans for you, learning from each meal to better suit your liking.
    </div>
    <div class="col-sm" style="text-align: center;">
        <h2>Control</h2>
        Provides you with customization power for meals, meal plans, and more!
    </div>
    <div class="col-sm" style="text-align: center;">
        <h2>Informative</h2>
        Lists all crucial information pertaining to individual meals or plans, including macros, common allergy warnings, and much more.
    </div>
  </div>
</div>
</div>
{% endblock %}